@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
}