<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title (click)="goRentals()">Cancel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" class="ion-padding">
      <ion-avatar class="profile">
        <img src="{{currentRental.cityimage}}">
      </ion-avatar>
      <!-- <h1 text-center class="padded"><b>{{currentRental.city}}, {{currentRental.country}}</b></h1>  -->
      <h1 *ngIf="currentRental" class="padded" text-center><b>{{currentRental.city}}</b>, {{currentRental.country}}</h1>
      <p>${{currentRental.price}} per night</p>
      <p><i>[Description TBC]</i></p>
    </div>
    <div class="ion-padding">
        <ion-card>
          <p><b>Enter details below</b></p>
          <p>
            <ion-list>
              <ion-item>
                <ion-label color="primary">Rental Name</ion-label>
                <ion-input placeholder="Name"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label color="primary" stacked>Rental Address</ion-label>
                <ion-input placeholder="Address Line 1"></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-input placeholder="(Optional) Address Line 2" clearInput></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label color="primary" stacked>Price/Night: $</ion-label>
                <ion-input type="number" placeholder="Amount"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label color="primary" stacked>Contact Email</ion-label>
                <ion-input type="email" placeholder="you@email.com"></ion-input>
              </ion-item>
    
              <ion-item>
                  <ion-label color="primary" stacked>Contact Number</ion-label>
                  <ion-input type="tel" placeholder="(123) 456-7890"></ion-input>
                </ion-item>
            
              <ion-item>
                <ion-textarea placeholder="Enter a description (features, amenities, check-in)"></ion-textarea>
              </ion-item>
            </ion-list>
          </p>
        </ion-card>
        <ion-button class="main-button" expand="block" (click)="goRentals()"> 
            Submit
          </ion-button>
        </div>
</ion-content>
