<ion-header>
  <ion-toolbar>
    <ion-title>
      Create a New Rental
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <p><b>Enter details below</b></p>
      <p>
          <ion-list>
              <ion-item>
                <ion-label color="primary">Rental Name</ion-label>
                <ion-input placeholder="Name" [(ngModel)]="property.name"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label color="primary" stacked>Rental Address</ion-label>
                <ion-input placeholder="Address" [(ngModel)]="property.location"></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-label color="primary" stacked>Link to Image</ion-label>
                <ion-input placeholder="Image URL" [(ngModel)]="property.imageUrl"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label color="primary" stacked>Price/Night: $</ion-label>
                <ion-input type="number" placeholder="Amount" [(ngModel)]="property.price"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-textarea placeholder="Enter a description (features, amenities, check-in)"></ion-textarea>
              </ion-item>
            </ion-list>
      </p>
    </ion-card>
    <ion-button class="main-button" expand="block" (click)="submit()"> 
        Submit
      </ion-button>
    </div>
</ion-content>
