<ion-header>
  <ion-toolbar>
    <ion-title>
      Saved
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <p>Not every day is filled with adventure, but you can start planning for the next one. Tap the bookmark on any home to start saving your favourites here. This is totally original text.</p>
      <ion-button class="main-button" expand="block" (click)="goHome()"> 
          Find homes
        </ion-button>
    </ion-card>
    </div>
</ion-content>
