<ion-header>
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/house.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>
          <h1 class="padded"><b>Welcome to Not-Airbnb!</b></h1>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Check out some of our listings, coming soon!</p>
      </ion-card-content>
    </ion-card>
</ion-content>
