<ion-header>
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/house.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>
          <h1 class="padded"><b>Welcome to Not-Airbnb!</b></h1>
        </ion-card-title>
        <p>Explore other nearby listings!</p>
      </ion-card-header>
    </ion-card>
    <ion-list>
        <ion-card>
          <ion-item *ngFor="let property of properties" (click)="goBooking(property)">
            <!-- <ion-item> -->
              <ion-avatar class="explore">
                  <img src="{{property.imageUrl}}">
                </ion-avatar>
                <b>{{property.name}}</b><p>-</p><p>{{property.location}} (${{property.price}} per night)</p>
                <!-- <ion-button class="main-button" expand="block" (click)="goBooking(property)">View</ion-button> -->
          </ion-item>
        </ion-card>
        </ion-list>
</ion-content>
