@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.welcome-card ion-img {
  max-height: 75vh;
  overflow: hidden;
}
.profile{
  width: 150px;
  height: 150px;
}

p{
  padding-left: 10px;
}

h1.padded{
  padding-left: 10px;
}

ion-content{
  font-family: 'Roboto', sans-serif;
}

ion-card.explore{
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

ion-item:hover{
  --background: lightgrey;
}

ion-avatar.explore{
  padding: 7px;
  width: 100px;
  height: 100px;
}

.main-button{
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}

ion-toolbar{
  --background: #3880ff;
  --color: #fff;
}