<ion-header>
  <ion-toolbar>
    <ion-title>
      Your Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button class="main-button" expand="block" (click)="goCreate()"> 
        Create a new rental
      </ion-button>
    <!-- <ion-card>
      <p><b>Current trips</b></p>
      <ion-list>
        <ion-item>
        <ion-avatar class="preview">
          <img src="assets/portugal.jpg">
        </ion-avatar>
          <p><b>{{currentRental.city}}</b>, {{currentRental.country}} ({{currentRental.duration}} days)</p>
          <ion-button class="main-button" expand="block" (click)="goListing()">View</ion-button>
        </ion-item>
      </ion-list>
    </ion-card> -->
    <ion-card>
      <p><b>Active Rentals List</b></p>
      <ion-list>
        <ion-item *ngFor="let rental of rentals" (click)="goRentals(rental)">
            <ion-avatar class="past">
                <img src="{{rental.cityimage}}">
              </ion-avatar>
              <b>{{rental.city}}</b>, {{rental.country}} (${{rental.price}}/night)
              <ion-button class="main-button" expand="block" (click)="goRentals(rental)">View or Edit</ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
