<ion-header>
  <ion-toolbar>
    <ion-title>
      Trips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <p><b>No upcoming trips</b></p>
      <p>Start exploring ideas for your next trip</p>
      <ion-button class="main-button" expand="block" (click)="goHome()"> 
          Explore Not-Airbnb
        </ion-button>
    </ion-card>
    <ion-card>
      <p><b>Current trips</b></p>
      <ion-list>
        <ion-item>
        <ion-avatar class="preview">
          <img src="assets/portugal.jpg">
        </ion-avatar>
          <p><b>{{currentRental.city}}</b>, {{currentRental.country}} ({{currentRental.duration}} days)</p>
          <ion-button class="main-button" expand="block" (click)="goListing()">View</ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <p><b>Past trips</b></p>
      <ion-list>
        <ion-item *ngFor="let rental of rentals">
            <ion-avatar class="past">
                <img src="{{rental.cityimage}}">
              </ion-avatar>
              <b>{{rental.city}}</b>, {{rental.country}} ({{rental.duration}} days)
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
