@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.profile{
    width: 150px;
    height: 150px;
}

p{
    padding-left: 10px;
}

h1.padded{
    padding-left: 15px;
}

.preview{
    width: 150px;
    height: 150px;
}

.main-button{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
}

ion-content{
    font-family: 'Roboto', sans-serif;
}

ion-avatar.past{
    padding: 7px;
    width: 100px;
    height: 100px;
}

ion-avatar.current{
    width: 400px;
    height: 400px;
}

ion-toolbar{
    --background: #3880ff;
    --color: #fff;
  }