.profile{
    width: 150px;
    height: 150px;
}

p{
    padding-left: 10px;
}

h1.padded{
    padding-left: 15px;
}

.preview{
    max-width: 250px;
    border-radius: 10px;
}

.main-button{
    padding-left: 15px;
}

img.listing{
    border-radius: 30px;
    padding: 10px;
}

ion-toolbar{
    --background: #3880ff;
    --color: #fff;
  }